# Dependency directories
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# databases
/src/database/mysql/data/*
/src/database/redis/data/*

# Logs
logs

#
public